@using Exam.Front.Models.ViewModel.Exam;
@model ExamVM

<style>
    .fixed-card-header {
        position: sticky;
        top: 60px;
        width: 100%;
        z-index: 999;
    }
</style>
<h2 class="mb-4">Yeni Imtahan</h2>

<div class="row">
    <div class="col-12 col-xl-12 order-1 order-xl-0">
        <div class="card shadow-none border border-300 my-4">
            <div class="card-header fixed-card-header bg-white">
                <div class="row align-items-center justify-content-between g-3 ml-3 mr-3">
                    <div class="col-auto">
                        <button type="button" onclick="window.location.href='/Exams/'" class="btn btn-phoenix-primary px-5">Geri</button>
                        <button type="submit" id="submitButton" class="btn btn-primary px-5">Yadda Saxla</button>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="p-4">
                    @if (TempData["success"] == "Ok")
                    {
                        <div class="alert alert-outline-success d-flex align-items-center" role="alert">
                            <span class="fas fa-check-circle text-success fs-3 me-3"></span>
                            <p class="mb-0 flex-1">Müvəffəqiyyət! Əməliyyat uğurla başa çatdı...</p>
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form class="row g-3 mb-6" action="" method="post" id="Form">
                        <div class="row g-3 mb-6">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectTask" name="lessonCode">
                                        @foreach (var item in Model.lessons)
                                        {
                                            <option value="@item.Code">@item.Code</option>
                                        }
                                    </select>
                                    <label for="floatingSelectTask">Ders Kodu</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelectTask" name="studentNumber">
                                        @foreach (var item in Model.students)
                                        {
                                            <option value="@item.Number">@item.Number </option>
                                        }
                                    </select>
                                    <label for="floatingSelectTask">Sagirdin Kodu</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="flatpickr-input-container">
                                    <div class="form-floating">
                                        <input class="form-control" id="score" name="score" type="number" min="0" placeholder="Qiymet" required />
                                        <label class="form-label" for="score">Qiymet</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="flatpickr-input-container">
                                    <div class="form-floating">
                                        <input class="form-control datetimepicker" id="datetimepicker" name="examdate" type="text" value="@DateTime.Now.ToString("dd/MM/yy HH:mm");
" placeholder="dd/mm/yyyy hour : minute" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />
                                        <label class="form-label" for="datetimepicker">Tarix</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 gy-6">
                            <div class="row g-3 justify-content-end">
                                <div class="col-auto"><button type="button" onclick="window.location.href='/Exams/'" class="btn btn-phoenix-primary px-5">Geri</button></div>
                                <div class="col-auto"><button type="submit" class="btn btn-primary px-5 px-sm-15">Yadda Saxla</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>